<div style="text-align: center;">
    <h2>About Me</h2>
</div>

<div style="display: flex; justify-content: center; padding: 0 15%;">
    <div style="flex: 1; margin-left: 10%; margin-right: 5%;">
        <p>Education: Purdue University</p>
        <p>Major: Computer Science</p>
        <p>Concentration: Machine Intelligence</p>
        <p>Clubs: Boiler Robotics, Muslim Student Association, ML@Purdue</p>
    </div>

    <div style="flex: 1; margin-left: 5%;">
        
        <p>Interests: Lifting, Anime, Sports</p>
        <p>Favorite Sports Teams: Baltimore Ravens, Indiana Pacers</p>
        <p>Languages: English, Bengali, Arabic, Spanish</p>
        <p>Programming Languages: Python, Java, C++, C</p>
    </div>
</div>
